.image_galery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

;

.image_item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

;