<html>
<head>
<title>{{ title }}</title>
</head>
<body>
{# Показываем картинку #}
    <img src = "{{image.path}}{{image.filename}}"> 
 {# Выводим информацию о количестве просмотров #}
    <h1>Количество просмотров: {{image.vote_count}}</h1> 

</body>
</html>
